streamlit>=1.55.0
pandas>=2.1.0
numpy>=1.26.0
openpyxl
st-gsheets-connection
imagehash
Pillow
plotly
requests
opencv-python-headless
google-generativeai
numpy>=1.26.0
xlsxwriter
mediapipe
scikit-learn
st-styled
streamlit-javascript
beautifulsoup4>=4.12.0
requests>=2.31.0
lxml>=4.9.0
scikit-learn
firebase-admin
